* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.pointer {
  cursor: pointer;
}

.none {
  display: none;
}

.removeStyle {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
}