* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

body,
input,
select {
  /* background-color: #3988e2; */
}

img {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.default {
  cursor: default;
}

.none {
  display: none;
}

.bold {
  font-weight: bold;
}

.removeStyle {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
}